body
{
	padding:5px;
	text-shadow:0 0 1px rgba(0, 0, 0, 0.01);
}
#container
{
	width:250px;
}
	#container ul
	{
		list-style:none;
	}
		#container ul li
		{
			width:25px;
			height:20px;
			padding:3px 0px 0px 0px;
			text-align:center;
			float:left;
			border:#FFF 1px solid;
			cursor:pointer;
		}
		#container ul li:hover
		{
			background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 70%, #e9e9e9);
			border-color: #BEBEBE;
			color: #222;
		}